- @title = "#{@item.name}"
- @description = " #{@item.name}のページです。"

%h2= @item.name

.images
  - @item.images.each do |image|
    = link_to(image_tag(image.url), @item.url)

.row-fluid{style: 'color: #d14;font-size:2em;margin-top:20px;margin-bottom:10px;'}
  価格
  %b= number_with_delimiter @item.price
  円

.row-fluid{style: 'font-size:1.5em;margin-top:20px;margin-bottom:10px;'}
  = link_to @item.url do
    %span{style:'text-decoration:underline;'} レビューを見る（#{number_with_delimiter @item.review_count}件）

.row-fluid{style: 'margin-top:20px;margin-bottom:10px;'}
  = simple_format @item.caption
